{% extends "baseTemplates.html" %}
{% block title %}Seleccione sucursal{% endblock %}
{% block content %}
    <h1>Seleccione sucursal</h1>
    <div class="container">
        <table>
            <thead> 
                <tr>
                    <th>Numero</th>
                    <th>Provincia</th>
                    <th>Localidad</th>
                </tr>
            </thead> 
            <tbody>
                {% for sucursal in sucursales %}
                    <tr>
                        <td>{{ sucursal.numero }}</td>
                        <td>{{ sucursal.provincia }}</td>
                        <td>{{ sucursal.localidad }}</td>
                        <td><a href="/funcion2?sucursal={{ sucursal.id }}">Ver</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
